:root{
    --color-main: #080808;
    --color-border: #535353;
    --color-violet: linear-gradient(to right,#8B5CF6,#EC4899);
    --color-pink: #EC4899;
    --color-white: #e1e1e1;
    --color-gray: #808080;
    --color-orange: #F2672E;
    --font-principal: 'Poppins';
    --font-secundary: 'Montserrat';
}
/* Globales */
.btn{
    cursor: pointer;
    transition: .5s linear;
}
/* Regresar */
.regresar{
    z-index: 20;
    display: flex;
    justify-content: center;
}
.regresar__btn{
    padding: 1.5rem;
    background-color: rgb(162, 30, 30);
    border-radius: .5rem;
    margin: 1rem 0;
    color: var(--color-white);
    font-family: var(--font-principal);
    font-size: 2rem;
    width: 100%;
    text-align: center;
}
/* contenido */
.main{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: var(--color-main);
    position: relative;
    overflow-x: hidden;
    display: grid;
    place-content: center;
    padding: 2rem 0;
}
/* Figuras flotantes */
.figure{
    position: absolute;
    display: flex;
    z-index: 2;
}
.figure img{
    transition: 1s linear;
}
.figure img:hover{
    transform: scale(1.1) translate(-1rem, -1rem);
}
.figure--right{
    top: 0;
    right: 0;
    padding-top: 3rem;
    padding-right: 3rem;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.figure--left{
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
}
.figure--bk{
    top: 0;
    left: 0;
    min-width: auto;
    width: max(60%, 70rem);
    height: max(90%, 60rem);
    z-index: 1;
}
.figure--bk img{
    width: 100%;
}
/* Formulario */
.form{
    z-index: 10;
    width: 60rem;
    min-height: 60rem;
    border: 1px solid var(--color-border);
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    position: relative;
    padding: 1.5rem;
}
.form__figure{
    top: 0;
    left: 0;
    width: 100%;
    justify-content: flex-end;
    padding: 2rem;
}
.form__figure img{
    width: 4rem;
}
.form__me{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}
.form__me img{
    width: 15rem;
}
.form__title--violet{
    background: var(--color-violet);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.form__title--pink{
    background: var(--color-pink);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.form__title{
    padding-top: 1rem;
    font-family: var(--font-principal);
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
/* Parte del mensaje del form */
.form__message{
    width: 30rem;
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    color: var(--color-white);
    font-family: var(--font-principal);
    font-weight: 200;
    line-height: 1.5;
}
.message__invalid-container{
    display: flex;
    justify-content: flex-end;
}
.form__message--right{
    margin-bottom: 2rem;
    opacity: 0;
    transition: .3s linear;
}
.form__subtitle{
    font-weight: 200;
    text-align: center;
}
.form__text{
    text-align: center;
}
/* Input */
.form__input{
    display: flex;
    position: relative;
}
.form__emojis{
    position: absolute;
    width: 100%;
    top: -5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: -1;
    opacity: 0;
    transition: .3s linear;
}
.emoji{
    font-size: 2.7rem;
    display: inline-block;
    cursor: pointer;
    transition: .3s linear;
}
.emoji:hover{
    transform: scale(1.1);
}
.input__img{
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    border: 1px solid var(--color-border);
    border-radius: 50%;
    margin-right: 1.5rem;
    background-color: transparent;
}
.rotate{
    transform: rotate(360deg);
    animation: colores 1s alternate forwards;
}
@keyframes colores {
    from{
        background-color: transparent;
    }
    to{
        background: rgb(6, 109, 226);
    }
}
.input{
    flex-grow: 1;
    background-color: transparent;
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    color: var(--color-gray);
    padding: 1rem;
    font-family: var(--font-secundary);
    outline-style: none;
    box-shadow: 0px 0px 5px transparent;
    transition: .3s linear;
}
input:focus{
    box-shadow: 0px 0px 5px #8B5CF6;
}
/* Boton de enviar */
.form__btn{
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.form__send{
    width: 15rem;
    padding: 1.5rem;
    background-color: var(--color-orange);
    border: none;
    border-radius: .5rem;
    color: var(--color-white);
    font-family: var(--font-principal);
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.form__send::after{
    transform: scale(0);
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}
.form__send:hover{
    background-color: #f45516;
}
/* Clase especial que trae los elementos al DOM */
.visibled{
    z-index: 5;
    opacity: 1;
}
/* Responsive */
@media screen and (min-width:1000px) {
    .regresar{
        z-index: 20;
        position: absolute;
        top: 1rem;
        left: 3rem;
    }
}
@media screen and (max-width:630px) {
    .form{
        width: 90vw;
    }
    .figure__bk{
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .form__emojis{
        top: -8rem;
        justify-content: flex-start;
        gap: .5rem;
    }
}
@media screen and (max-width:380px) {
    .input__img{
        width: auto;
        height: auto;
        display: grid;
        place-content: center;
        padding: 2px;
    }
    .form__message__primary{
        width: auto;
    }
}
@media screen and (max-width:340px) {
    .input__img{
        display: none;
        width: 0;
        height: 0;
        padding: 0;
        border: none;
        margin: 0;
    }
}