                                /* Custom Properties */
:root{
    --color-darkblue: rgb(4, 4, 28);
    --color-primary: rgb(238, 237, 237);
    --color-primary-transparent: rgba(255, 255, 255, 0.539);
    --color-secundary: #7e0101;
    --color-headings: #961111;
    --color-before: #6a0000d7;
    --color-salmon: rgb(205, 55, 95);
    --fonts-hero: 'Poppins', sans-serif;
    --fonts-primary: 'Poppins', sans-serif;
    --fonts-secundary: 'Montserrat', sans-serif;
}

body{
    background-color: var(--color-darkblue);
    width: 100%;
    min-height: 100vh;
    max-height: auto;
}

.container{
    width: 80%;
    max-width: 120rem;
    padding: 4rem 0;
    margin: 0 auto;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 3rem;
}
.nav__link{
    color: var(--color-primary);
    padding: 1.5rem;
    background-color: var(--color-secundary);
    border-radius: .5rem;
    font-size: 1.7rem;
    font-family: var(--fonts-primary);
}
.nav__link:hover{
    transform: scale(1.1);
}

.title, .subtitle{
    color: var(--color-primary);
    font-family: var(--fonts-hero);
    text-align: center;
    font-size: 4rem;
    line-height: 2;
    font-weight: 600;
}
.main__text{
    color: var(--color-primary);
    font-size: 1.7rem;
    line-height: 1.7;
    font-family: var(--fonts-hero);
    font-weight: 200;
    text-align: justify;
    padding-bottom: 2rem;
}
.subtitle{
    font-size: 2rem;
    text-align: start;
    font-weight: 200;
}
span{
    font-style: italic;
    color: rgb(0, 180, 180);
}

.main__text--final{
    padding: 3rem 0;
    text-align: center;
}
/* certificados */
.certify{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}
.certify__card{
    padding: 2rem;
    background: #080808;
    box-shadow: 0px 0px 5px transparent;
    transition: .3s linear;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px #4b4b4b;
}
.certify__card:hover{
    box-shadow: 0px 0px 5px #d0d0d0;
}
.certify__img{
    border-radius: .5rem;
    height: 15rem;
    width: 100%;
    object-fit: cover;
}
.links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.certify__link{
    padding: 2rem ;
    border: 1px solid #525252;
    border-radius: .8rem;
    background: transparent;
    width: 48%;
    text-align: center;
    color: var(--color-primary);
    font-family: var(--fonts-secundary);
    text-transform: capitalize;
    cursor: pointer;
}
.certify__link--blue{
    background-color: var(--color-secundary);
    border: none;
}
.certify__link:hover{
    opacity: .9;
}

@media screen and (max-width:570px){
    .main__text{
        font-size: 1.5rem;
        line-height: 1.8;
    }
}