.perfil__tools__img--1{
    animation: animateRotate 1.5s alternate infinite;
  }
  .perfil__tools__img--2{
    animation: animateRotate 2s alternate infinite;
  }
  .perfil__tools__img--3{
    animation: animateRotate 2.5s alternate infinite;
  }
  .perfil__tools__img--4{
    animation: animateRotate 3s alternate infinite;
  }
  .perfil__tools__img--5{
    animation: animateRotate 3.5s alternate infinite;
  }
  .perfil__tools__img--6{
    animation: animateRotate 4s alternate infinite;
  }
  .perfil__tools__img--7{
    animation: animateRotate 3.5s alternate infinite;
  }
  .perfil__tools__img--8{
    animation: animateRotate 2.5s alternate infinite;
  }
  .perfil__tools__img--9{
    animation: animateRotate 4s alternate infinite;
  }
  .perfil__tools__img--10{
    animation: animateRotate 2.5s alternate infinite;
  }
  .perfil__tools__img--11{
    animation: animateRotate 3.5s alternate infinite;
  }
  
  @keyframes animateRotate {
    from{
      transform: translateY(25px) scale(1.1);
    }
    to{
      transform: translateX(0) scale(1);
    }
  }