:root{
    --value-center: center;
}

.footer {
    background: var(--color-black);
}

.footer__line {
    text-align: var(--value-center);
    font-weight: var(--w-800);
    color: var(--color-white);
    font-size: 2rem;
    position: relative;
}

.footer__line::after {
    content: '';
    position: absolute;
    top: 1rem;
    left: 0;
    width: 45%;
    height: .5rem;
    background: var(--color-aqua);
}

.footer__line::before {
    content: '';
    position: absolute;
    top: 1rem;
    right: 0;
    width: 45%;
    height: .5rem;
    background: var(--color-aqua);
}

.footer__content {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: var(--value-center);
    color: var(--color-white);
}

.footer__nav {
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.footer__nav__link {
    width: 20rem;
    overflow: hidden;
    display: flex;
    position: relative;
    border-radius: 5rem;
}

.footer__nav__link__img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    padding: .5rem;
    background-color: var(--color-white);
    z-index: 10;
}

.footer__nav__link__content {
    position: absolute;
    left: -100%;
    top: 0;
    width: 18rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: var(--value-center);
    background: var(--color-white);
    padding: .5rem .5rem .5rem 3rem;
    border-radius: 5rem;
    transition: .3s linear;
}

.footer__nav__link__content img {
    max-width: 2.5rem;
}

.footer__nav__link__content span {
    font-size: 1.3rem;
    color: var(--color-black);
}

.footer__nav__link:hover .footer__nav__link__content {
    left: 0;
}

.footer__copy {
    font-size: 2rem;
    font-weight: var(--w-600);
    text-align: var(--value-center);
}