:root {
  --color-black: #030507;
  --color-white: #ededed;
  --color-bg: #c1c1c1;
  --color-bg-dark: #030507;
  --color-plus-links: #004cff;
  --color-aqua: #2194f2;
  --color-blue-light: #004cff;
  --color-border-top: linear-gradient(#303030, 50%, #0057FF 50%);
  --color-text: #222;
  --w-300: 300;
  --w-600: 600;
  --w-800: 800;

  --color-bg-card: #c1c1c1;
  --border-card: #c1c1c103;
  --box-card: #929292;
  --font-primary: 'Poppins', arial helvetica system;
}

body {
  background: var(--color-bg);
}

* {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.paddings{
  padding: 3rem 0;
}

/* Seccion de portada */
.heroe {
  background-color: #0057FF;
  width: 100%;
}

.heroe__nav {
  display: flex;
  justify-content: end;
  padding-top: 3rem;
}

.heroe__nav__content{
  width: 9rem;
  padding: .7rem;
  background: var(--color-white);
  border-radius: 2rem;
}

.heroe__nav__content__bg{
  width: 100%;
  height: 3rem;
  background: var(--color-bg);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.heroe__nav__content__rounded{
  width: 3.5rem;
  height: 3.5rem;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  background: #222;
  top: -.3rem;
  left: -.3rem;
  transition: .3s linear;
}
.heroe__nav__content__rounded--light{
  transform: translateX(0%);
}
.heroe__nav__content__rounded--dark{
  transform: translateX(130%);
}

.heroe__tools {
  background: url(./img/bg-header.png) no-repeat;
  background-size: contain;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 3rem 0 10rem 0;
}

.heroe__tools__title {
  color: var(--color-white);
  font-size: 4rem;
  font-weight: var(--w-800);
}

.heroe__tools__pictures {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.heroe__tools__pictures__img {
  width: 8rem;
  animation: translate 2s alternate infinite;
  cursor: pointer;
  transition: .3s linear;
}

.heroe__tools__pictures__img:hover {
  animation: none;
}

@keyframes translate {
  from {
    transform: translateY(10px);
  }

  to {
    transform: translateY(0px);
  }
}

/* SECCIONE ACERCA DE */
.about__perfil {
  margin: 0 auto;
  margin-top: -7.5rem;
  width: 15rem;
  height: 15rem;
  position: relative;
  display: grid;
  place-content: center;
}

.about__perfil__bg {
  position: absolute;
  top: -.5rem;
  left: -.5rem;
  width: 16rem;
  height: 16rem;
  background: var(--color-border-top);
  /* linear-gradient(var(--color-border-top), 50%, #0057FF 50%) */
  border-radius: 50%;
  z-index: 5;
  box-shadow: 0 0 1rem #000000cd;
}

.about__perfil__content{
  width: 15rem;
  height: 15rem;
  background: var(--color-black);
  border-radius: 50%;
  z-index: 10;
}
.about__info{
  overflow: hidden;

}
.about__info__title{
  padding-top: 3rem;
  text-align: center;
  display: grid;
  gap: .5rem;
  color: var(--color-text);
}

.about__info__title span{
  position: relative;
}
.about__info__title__span::after{
  content: '';
  width: 100%;
  height: 105%;
  background: var(--color-bg);
  top: 0;
  left: 0;
  position: absolute;
}

.about__info__title__span--1::after{
  animation: mover 3.5s alternate forwards;
}
.about__info__title__span--2::after{
  animation: mover 3.5s alternate forwards;
  animation-delay: .5s;
}

@keyframes mover {
  from{
    left: 0;
  }
  to{
    left: 200%;
  }
}

.about__info__texts{
  padding-top: 4rem;
  animation: aparecer 3s alternate forwards;  
}

.about__info__texts p{
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--color-text);
}

@keyframes aparecer {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.about__contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__contact__btn{
  padding: 1.5rem;
  background: var(--color-blue-light);
  color: var(--color-white);
  border-radius: 1rem;
}
.about__contact__links{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.about__contact__link{
  width: 4rem;
}
/* MAS FUNCIONALIDADES */
.plus{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.plus__title{
  font-size: 3rem;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  border-bottom: 1.5rem solid var(--color-black);
}
.plus__routers{
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

.plus__link{
  font-weight: var(--w-800);
  color: var(--color-plus-links);
  font-size: 2.5rem;
}

.plus__link__active{
  padding-bottom: 1.5rem;
  border-bottom: 1rem solid var(--color-plus-links);
}

/* Pagina de historia */
.history{
  animation: aparecer 1.5s alternate forwards;
  color: var(--color-text);
}
.history__title{
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2rem;
}
.history p{
  text-align: center;
  padding-bottom: 1rem;
  line-height: 1.5;
}

/* PAGINA DE PROYECTOS */
.projects{
  padding-bottom: 3rem;
}

.projects__cards{
  display: flex;
  gap: 2rem;
}
.project__card{
  border-radius: 1rem;
  overflow: hidden;
  width: 28rem;
  box-shadow: 0 0 1rem var(--box-card);
  background: var(--color-bg-card);
  border: 1.5px solid var(--border-card);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  color: var(--color-text);
}
.project__card:hover{
  opacity: .9;
}
.project__card__title{
  text-align: center;
  font: 1.8rem;
}
.project__card__text{
  text-align: center;
  line-height: 1.3;
  padding: 0 .5rem .5rem .5rem;
}
.project__card__tecnologies{
  padding: 0 1rem 1rem 1rem;
  display: flex;
  gap: .5rem;
}
.project__card__tecnologies__img{
  width: 4rem;
}

/* Footer */
.footer{
  background: var(--color-black);
}
.footer__line{
  text-align: center;
  font-weight: var(--w-800);
  color: var(--color-white);
  font-size: 2rem;
  position: relative;
}
.footer__line::after{
  content: '';
  position: absolute;
  top: 1rem;
  left: 0;
  width: 45%;
  height: .5rem;
  background: var(--color-aqua);
}
.footer__line::before{
  content: '';
  position: absolute;
  top: 1rem;
  right: 0;
  width: 45%;
  height: .5rem;
  background: var(--color-aqua);
}